body{
  width: 1500px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  margin-top: 30px;
}

#title{
  display: flex;
  margin-bottom: 30px;
}

#fork-knife{
  height: 50px;
}

h1{
  font-family:'Yellowtail';
  font-size: 40px;
  padding: 0 5px 5px 5px;
}

h2{
  font-family: 'Roboto';
  font-size: 10px;
  padding: 0 10px;
  color: gray;
}

#social{
  display: flex;
}

.social-icon{
  width: 25px;
  margin-top: 20px;
}

#firstSocial{
  margin-right: 10px;
}

#border{
  background-image: url(img/hr-img.png);
  margin-bottom: 80px;
}

#top-main{
  display: flex;
  justify-content: space-between;
  font-family: 'Noto Serif Telugu';
  align-items:flex-end;
  margin: 30px 0;
}

h3{ 
  font-size: 60px;
  font-weight: bold;
  padding: 5px 0;
}

main div p{
  color: gray;
  padding: 5px 0;
  font-size: 20px;
}

#print{
  display: flex;
}

#top-main i{
  padding: 0 5px;
  margin-top: 3px;
}

article{
  width: 100%;
  margin-bottom: 40px;
}

article section img{
  width: 100%;
}

#hero{
  width: 1500px;
}

article p{
  font-size: 27px;
  text-indent: 50px;
  font-family: 'Noto Serif Telugu';
  padding: 40px 0;
  color: gray;
  line-height: 40px;
}

article section{
  position: relative;
}

form{
  width: 100%;
  z-index: 1;
  font-size: 35px;
  font-family: 'Patrick Hand';
}

fieldset{
  margin: 60px 80px;
  padding: 15px;

}

#field-set1{
  position: absolute;
  top: 0;
  left: 0;
}

#field-set2{
  position: absolute;
  top: 0;
  left: 750px;
}

input{
  position: relative;
  display: block;
}

label{
  display: block;
  width: 600px;
  color: rgb(97, 95, 95);
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}

#vanessa-pic{
  height: 150px;
  margin-right: 20px;
}

#vanessa-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  margin-top: -50px;
}

h4{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  color: black;
}

#vanessa-text{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: gray;
  padding-right: 30px;
}

/* #button{
  background-color: orange;
  color: white;
  height: 50px;
  width: 300px;
} */

#button{
  background-color: rgb(169, 59, 46);
  font-family: 'Roboto';
  color: white;
  width: 200px;
  font-size: 25px;
  display: block;
  padding: 20px 50px;
}

#line{
  height: 2px;
  width: 1500px;
  background-image: linear-gradient(to right, gray, white, gray);
  position: relative;
  z-index: -1;
  margin: 100px 0;
}

#small-img{
  position: absolute;
  top: -15px;
  left: 740px;
  width: 40px;
}

#copyright{
  width: 400px;
  margin: 0 0 0 600px;
  color: gray;
  font-size: 20px;
  padding: 10px;
}

#ghost{
  width: 400px;
  margin: 0 0 0 650px;
  color: gray;
  font-size: 20px;
}
